@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";

.nav {
  color: $white;
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(to bottom right, $amaranth, $purple 0%, $dark-purple 80%);
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    font-family: $cursiveFont;
    font-size: 2.5rem;
  }

  .navbar-brand:hover {
    cursor: pointer;
  }
  .navbar-menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(tab) {
      width: 20%;
    }

    p{
      
      font-size: 1rem;
      cursor: pointer;
      @include responsive(tab) {
        font-size: 2rem;
      }
    }
  }

  .menu-icon {
    font-size: 3rem;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: white;
  }
}