//color variable
$text-grey: #333;  // Text Primary
$more-grey: #666;
$very-grey: #999;
$text-black: #000;  // Text Primary
$text-white: #fff;  // Text Primary
$dirty-white: #c4c4c4; //#f1f1f1;
$orange: #FFB800;
$white: #fff;
$black: #000;
$ash: #F1F1F1;
$shadow: 0.1rem 0.2rem 2rem #ddd;