@import "../assets/stylesheets/mediaQuery.scss";
@import "../assets/stylesheets/utils.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.7;
  box-sizing: border-box;
  // background: #eee;
  // color: $text-grey;
}

.app {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

.center-text {
  text-align: center;
}

.you {
  color: $purple;
  font-weight: bold;
  background: white;
  padding: 1rem;
  border-radius: 50%;
}

.you-invert {
  color: $purple;
  font-weight: bold;
  background: white;
  border: 3px solid $purple;
  padding: 1.5rem;
  border-radius: 50%;
}
.you-invert:hover {
  cursor: pointer;
}
