@import "../assets/stylesheets/mediaQuery.scss";
@import "../assets/stylesheets/utils.scss";


.button {
  border-radius: 0.3rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
  color: $purple;
  font-weight: bolder;
  text-transform: uppercase;
  background: $ash;
  border: 1px solid $purple;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 4;

  @include responsive(tab){
    top: 10rem;
    padding: 1rem 2.5rem;
    height: 5.5vh;
  }
}

.button:hover{
  background: linear-gradient(to bottom right, $amaranth, $purple 0%, $dark-purple 80%);
  color: white;
}

.back-arrow {
  font-size: 1.5rem;
  margin-right: 1rem;
}