@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";

.login-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .cover {
    display: none;

    @include responsive(tab) {
      display: block;
      width: 60%;
      min-height: inherit;
      background: linear-gradient(to bottom right, $amaranth, $purple 0%, $dark-purple 80%);
      box-shadow: $shadow;

      display: flex;
      justify-content:center;
      align-items: center;
      h3 {
        font-family: 'Corinthia', cursive;
        font-size: 3.5rem;
        color: $white;
      }
    }
  }

  .login {
    // border: 1px solid red;
    width: 100%;
    min-height: inherit;
    background: $ash;
    // box-shadow: $shadow;
    @include responsive(tab) {
      width: 40%;
    }

  }
}