@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";

.login-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .cover {
    display: none;

    @include responsive(tab) {
      display: block;
      width: 60%;
      min-height: inherit;
      background: linear-gradient(to bottom right, $amaranth, $purple 0%, $dark-purple 80%);
      box-shadow: $shadow;

      display: flex;
      justify-content:center;
      align-items: center;
      h3 {
        font-family: 'Corinthia', cursive;
        font-size: 3.5rem;
        color: $white;
      }
    }
  }

  .login {
    // border: 1px solid red;
    width: 100%;
    min-height: inherit;
    background: $ash;
    color: $black;
    padding-top: 10vh;
    color: $black;
    h2 {
      text-align: center;
      font-size: 2rem;
      
      @include responsive(tab) {
        font-size: 2.5rem;
      }
      @include responsive(desktop) {
        font-size: 3rem;
      }
    }
    .user-u-list {
      border: 1px solid red;
      padding: 1rem;
      min-height: 60vh;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    @include responsive(tab) {
      width: 40%;
    }
  }
}