@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";

.user-wrapper {
  // border: 1px solid chartreuse;
  width: 100%;
  height: 15vh;
  background: $white;
  box-shadow: $shadow;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;

  .avatar{
    width: 40%;
    height: inherit;
    border: 1px solid green;
  }
  .user-info{
    width: 60%;
    height: inherit;
    border: 1px solid blue;
  }

}