//color variable
$text-grey: #333;  // Text Primary
$text-black: #000;  // Text Primary

$dark-purple: #301934;
$Byzantium: #702963;
$amaranth: #9F2B68;
$purple: #800080;
$white: #fff;
$black: #000;
$ash: #F1F1F1;
$shadow: 0.1rem 0.2rem 2rem #ddd;